@import vars

.list
    margin-left: 5vw
    margin-top: 2vw
    margin-bottom: 2vw
    .list-title
        font-size: 2vw
        font-weight: 600
    .list-filter
        display: grid
        grid-template-columns: 2fr auto 1fr
        grid-column-gap: 1vw
        align-items: end
        margin-top: 1vw
        padding: 1vw
        background-color: $pallete-cards-grey
        border-radius: 1vw 
        width: 47vw
    .list-filter-title
        font-size: 1.5vw
        font-weight: 600
    .list-filter-textblock-find
        border-radius: 0.3vw
        border-color: #000
        border-width: 1px
        width: 25vw
        height: 1.5vw
        font-size: 1.3vw
        transition: border-width 0.3s ease 0s
        &:hover
            border-width: 2px
    .list-filter-textblock-price
        justify-self: flex-end  
        border-radius: 0.3vw
        border-color: #000
        border-width: 1px
        width: 5vw
        height: 1vw
        transition: border-width 0.3s ease 0s
        &:hover
            border-width: 2px
    

    .list-filter-search-container
        display: flex
        justify-content: flex-end

    .list-filter-search
        display: flex
        justify-content: center
        align-items: center
        border-radius: 0.3vw
        border-width: 1px
        width: 5vw
        height: 2vw
        background-color: #ffffff
        transition: background-color 0.3s ease 0s
        font-weight: 500
        font-size: 1vw
        &:hover
            background-color: #dbdbdb
        &:active
            transition: background-color 0.1s ease 0s
            background-color: #bcbcbc

    .list-filter-price
        display: flex
        justify-items: flex-end
        justify-content: flex-end
        margin-top: 0.4vw

    .list-filter-price-title
        margin-right: 0.3vw
        margin-left:  1vw
        font-size: 1.2vw

.list-single-title
        margin-top: 5vw
        width: 47vw
        display: flex
        justify-content: center
        font-size: 2vw
        font-weight: 600

.list-single-err
        color: $pallete-navigation-red
        margin-top: 5vw
        width: 47vw
        display: flex
        justify-content: center
        font-size: 2vw
        font-weight: 600